.jumbotron {
  padding-top: 7rem;
  background-color: rgb(163, 250, 163);
}

.jumbotron img {
  width: 200px;
}

section {
  min-height: 300px;
  padding-top: 5rem;
}

.projects {
  background-color: rgb(163, 250, 163);
}

footer {
  background-color: #27bf27;
  min-height: 50px;
}
